Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

# Getting started with Sqlite in Jupyter.
To use Sqlite in this Juyter notebook, there are two steps:  
1. Connect to sqlite database.
2. Execute queries.

We will demonstrate these two steps and some other additional information in the next few cells.

In [ ]:
%reload_ext sql
%reload_ext lib.sqlite.sqlite_evaluate_magic
import os

### Connect to the database

In [ ]:
# Connect to database. Following command will connect you to the database.
# Any query that you will run after this cell will be run on the `surverys` database.
# You can always change the path in database url and connect to some other sqlite db of your choice.
survey_db_url = 'sqlite:///' + os.path.expanduser('~/data_readonly/sqlite/databases/survey.db')
%sql $survey_db_url

### Execute first query
To execute a sql query with the last connected database, start cell with `%%sql` and use rest of the cell to write the query.

In [ ]:
%%sql 
-- The query and results of the query will be saved to a variable named survey
survey << 
SELECT *
FROM survey;

In [ ]:
survey['query']

In [ ]:
survey['result']

The database that we used above is read only for students but if you feel like inserting your own records and playing around with it, you can always copy the database and insert some records.

You will write your queries and assign them to variables, we will read your queries from these variables and test them.

# Hands on Sqlite
The goal of this assignment is to acquire some basic hands-on skills for SQLite, using the Software Carpentry lessons at [http://swcarpentry.github.io/sql-novice-survey/](http://swcarpentry.github.io/sql-novice-survey/)  

Read and walk through the [10 Topics of the SQL novice tutorial](http://swcarpentry.github.io/sql-novice-survey/) Take notes as you go through the material; in particular write down your questions if you run into problems or don't understand something. Post questions to the Moodle as needed.

## [2 marks] Question1: Selecting Data
Write a query that selects only site names fromt the `Site` table.

A template cell is provided for you. Don't change the variable name othewise automated tests won't be able to read your query.

In [ ]:
%%sql
Problem1c_1 <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_1

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_1

## [10 points] Question2: Sorting and Removing Duplicates 

a. Write a query that selects distinct dates from the `visited`  
b. Write a query that displays the full names of the scientists in the Person table, ordered by family name.

### [5 points] Question2a: Write a query that selects distinct dates from the `visited`

In [ ]:
%%sql
Problem1c_2a <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_2a

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_2a

### [5 points] Question2b: Write a query that displays the full names of the scientists in the Person table, ordered by family name.

In [ ]:
%%sql
Problem1c_2b <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_2b

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_2b

## [5 points] Question3: Filtering  
Normalized salinity readings are supposed to be between 0.0 and 1.0. Write a query that selects all records from Survey with salinity values outside this range.  
Such “outlier” queries are similar in spirit to our IC denial rules in Datalog.

In [ ]:
%%sql
Problem1c_3 <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_3

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_3

## [10 points] Question4: Calculating New Values  
After further reading, we realize that Valentina Roerich was reporting salinity as percentages.  
a. Write a query that returns all of her salinity measurements from the Survey table with the values divided by 100.  
b. Use UNION to create a consolidated list of salinity measurements in which Roerich’s have been
corrected.

### [5 points] Question4a: After further reading, we realize that Valentina Roerich was reporting salinity as percentages. Write a query that returns all of her salinity measurements from the Survey table with the values divided by 100.

In [ ]:
%%sql
Problem1c_4a <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
# Don't worry about floating points not exactly matching. 
# As long as they match upto 3 decimal places, you will get credit.
%sql_expected_output Problem1c_4a

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_4a

### [5 points] Question4b: Use UNION to create a consolidated list of salinity measurements in which Roerich’s have been corrected.

In [ ]:
%%sql
Problem1c_4b <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_4b

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_4b

## [6 points] Question5: Missing Data
Write a query that sorts the records in Visited by date, omitting entries for which the date is not known (i.e., is null).

In [ ]:
%%sql
Problem1c_5a <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_5a

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_5a

## [6 points] Question6: Aggregation  
How many temperature readings did Frank Pabodie record, and what was their average value?

In [ ]:
%%sql
Problem1c_6a <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_6a

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_6a

## [20 points] Question7: Combining Data
a. Write a query that lists all radiation readings from the DR-1 site.  
b. Write a query that lists all sites visited by people named “Frank”.  
c. Write a query that shows each site with exact location (lat, long) ordered by visited date, followed by personal name and family name of the person who visited the site and the type of measurement taken and its reading. Please avoid all null values.

### [5 points] Question7a: Write a query that lists all radiation readings from the DR-1 site.

In [ ]:
%%sql
Problem1c_7a <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
# Don't worry about floating points not exactly matching. 
# As long as they match upto 3 decimal places, you will get credit.
%sql_expected_output Problem1c_7a

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_7a

### [5 points] Question7b: Write a query that lists all sites visited by people named “Frank”.

In [ ]:
%%sql
Problem1c_7b <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_7b

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_7b

### [5 points] Question7c: Write a query that shows each site with exact location (lat, long) ordered by visited date, followed by personal name and family name of the person who visited the site and the type of measurement taken and its reading. Please avoid all null values.

In [ ]:
%%sql
Problem1c_7c <<
-- Your query here. Don't change variable name.
-- select something from some_table

In [ ]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_7c

In [ ]:
# We evaluate your query to see if it gave expected output.
%sql_evaluate Problem1c_7c